body {
    background-color: black;
}

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: grey;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

footer p {
    text-align: right;
    color: grey;
}